[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jula729800
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jula729800
	label-Verified = -1..+1 group user/jula729800
	push = group user/jula729800
	read = group user/jula729800
	rebase = group user/jula729800
	removeReviewer = group user/jula729800
	submit = group user/jula729800
[access "refs/heads/*"]
	create = group user/jula729800
	push = +force group user/jula729800
	pushMerge = group user/jula729800
	read = group user/jula729800
[access "refs/tags/*"]
	push = group user/jula729800
	push = +force group user/jula729800
